:root {
    --primary: #2abfc4;
}

* {
    margin: 0;
    padding: 0;
}

/************************ HEADER **************************/
.navbar {
    background-color: var(--primary);
    position: sticky;
    top: 0;
    width: 100%;
}

.navbar-content {
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 90%;
    margin: auto;
}

.logo {
    width: 70px;
}

.navbar-links {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1em;
}

